*{margin: 0px; padding: 0px}

.login{
	background: #82ccdd;
	min-height: 1000px;
	width: 100%;
	
	.body-login{
		background: orange;
		width: 400px;
		height: 400px;
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		box-sizing: border-box;
		padding: 70px 30px;
	}

	.circle{
		width:150px;
		height: 150px;
		position: absolute;
		background: #82ccdd;
		border-radius: 50%;
		left: 50%;
		margin-left: -75px;
		margin-top: -150px;
		&:after{
			content:'A';
			color:#fff;
			line-height: 100px;
			width:80%;
			height:80%;
			position: absolute;
			background: red;
			border-radius: 50%;
			border:5px solid #fff;
			left: 50%;
			margin-left: -40%;
			margin-top: 10px ;
		}	
	}

	.form{
		margin:30px 50px;
		padding-bottom: 10px;
	

		

		p{
			font-size: 16px;
		}
	}
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) {...}

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) {...}

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) {...}

Extra large (xl) devices (large desktops, 1200px and up)
@media (min-width: 1200px) {...}
*/