
.main-menu {
    background: #efefef;

    .icon {
      font-size: 16px;
    }
    .nav-link {
      width: 102px;
    }
    .w100 {
      width: 100px;
    }

    .cg{
      text-align: center;
      background: red;
      
    }
    
   }