.td{

    .khung{
      background-color: #fff;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    
    .ts{
      font-weight: bold;
      color: #666666;
      font-size: 15px;
    }


    img{
      weight:760px;
      height: 360px;
      margin-left: -15px;
    }

    .ha{
      weight:831px;
      height: 428px;
    }

    .ha1{
      weight:100%;
      height: 435px;
    }

    .ha2{
      weight:100%;
      height: 505px;
    }


    h4{
      text-align: left;
      margin-top: -15px;
      margin-bottom: 20px;
    }
    
    p{
        text-align: left;
     
    }

    .nd{
        margin-top: 20px;
    }

    .nut{
        margin-right:570px;
    }

}